h1{background-color:rgb(244, 202, 14);}

h2{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(37, 197, 53);}

h1,h2{
    text-align: center;}

img{padding-left: 40%;
    width: 25%;}

      b{color: rgb(200, 17, 17);}

      body{background-image: url(../images/Screenshot\ 2024-10-02\ 115754.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         color: white;
        font-size: large;}
  
      marquee,i{
        color:rgba(236, 236, 9, 0.755);
      font-size:x-large;}
  