h1{background-color:rgb(244, 202, 14);}

h2{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;}

h1,h2{
    text-align: center;}

img{padding-left: 40%;
    width: 25%;}

      b{color: red;}

      body{background-image: url(../images/Designer\ \(1\).png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         color: rgb(17, 20, 2);
        font-size: large;}
  
      marquee,i{
        color:rgba(236, 236, 9, 0.755);
      font-size:x-large;}
  