h1{background-color:rgb(244, 202, 14);}

h2{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;}

h1,h2,i{
    text-align: center;}

img{padding-left: 40%;
    width: 25%;}

      b{color: red;}

      body{background-image: url(../images/Screenshot\ .jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
         color: aliceblue;
        font-size: large;}
  
      marquee,i{
        color:rgb(132, 255, 0);
      font-size:x-large;}
  